<div class="specs">
	<ul class="item-info">
		<h3 class="item-h3">Availability and Networks</h3>
		<ul class="main-info">
			<h5 class="info-h5">Availability</h5>
			<li>{{{phone.availability.[0]}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Battery</h3>
		<ul class="main-info">
			<h5 class="info-h5">Type</h5>
			<li>{{{phone.battery.type}}}</li>
			<h5 class="info-h5">Talk Time</h5>
			<li>{{{phone.battery.talkTime}}}</li>
			<h5 class="info-h5">Standby time (max)</h5>
			<li>{{{phone.battery.standbyTime}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Storage and Memory</h3>
		<ul class="main-info">
			<h5 class="info-h5">RAM</h5>
			<li>{{{phone.storage.ram}}}</li>
			<h5 class="info-h5">Internal Storage</h5>
			<li>{{{phone.storage.flash}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Connectivity</h3>
		<ul class="main-info">
			<h5 class="info-h5">Network Support</h5>
			<li>{{{phone.connectivity.cell}}}</li>
			<h5 class="info-h5">WiFi</h5>
			<li>{{{phone.connectivity.wifi}}}</li>
			<h5 class="info-h5">Bluetooth</h5>
			<li>{{{phone.connectivity.bluetooth}}}</li>
			<h5 class="info-h5">Infrared</h5>
			<li>{{{phone.connectivity.infrared}}}</li>
			<h5 class="info-h5">GPS</h5>
			<li>{{{phone.connectivity.gps}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Android</h3>
		<ul class="main-info">
			<h5 class="info-h5">OS Version</h5>
			<li>{{{phone.android.os}}}</li>
			<h5 class="info-h5">UI</h5>
			<li>{{{phone.android.ui}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Size and Weight</h3>
		<ul class="main-info">
			<h5 class="info-h5">Dimensions</h5>
			<li>{{{phone.sizeAndWeight.dimensions.[0]}}}</li>
			<li>{{{phone.sizeAndWeight.dimensions.[1]}}}</li>
			<li>{{{phone.sizeAndWeight.dimensions.[2]}}}</li>
			<h5 class="info-h5">Weight</h5>
			<li>{{{phone.sizeAndWeight.weight}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Display</h3>
		<ul class="main-info">
			<h5 class="info-h5">Screen size</h5>
			<li>{{{phone.display.screenSize}}}</li>
			<h5 class="info-h5">Screen resolution</h5>
			<li>{{{phone.display.screenResolution}}}</li>
			<h5 class="info-h5">Touch screen</h5>
			<li>{{{phone.display.touchScreen}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Hardware</h3>
		<ul class="main-info">
			<h5 class="info-h5">CPU</h5>
			<li>{{{phone.hardware.cpu}}}</li>
			<h5 class="info-h5">USB</h5>
			<li>{{{phone.hardware.usb}}}</li>
			<h5 class="info-h5">Audio / headphone jack</h5>
			<li>{{{phone.hardware.audioJack}}}</li>
			<h5 class="info-h5">FM Radio</h5>
			<li>{{{phone.hardware.fmRadio}}}</li>
			<h5 class="info-h5">Accelerometer</h5>
			<li>{{{phone.hardware.accelerometer}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<h3 class="item-h3">Camera</h3>
		<ul class="main-info">
			<h5 class="info-h5">Primary</h5>
			<li>{{{phone.camera.primary}}}</li>
			<h5 class="info-h5">Features</h5>
			<li>{{{phone.features.[0]}}}</li>
		</ul>
	</ul>
	<ul class="item-info">
		<ul class="main-info">
		<h3 class="item-h3">Aliitional Features</h3>
	<li>{{{phone.additionalFeatures}}}</li>
		</ul>
	</ul>
</div>