<button data-element="butBack" class="button button__back">Back</button>
<button data-element="butAdd" class="button button__add">Add to basket</button>
<div>
	<img class="phone" alt="{{{ phone.name }}}" src="{{{ phone.images.[0] }}}" data-element="phone-main-image">
	<h1 data-element="phoneViewerItem" data-phone-id="{{{ phone.id }}}">{{{ phone.id }}}</h1>
	<p>{{{ phone.description }}}</p>
</div>